{% extends 'base.html.twig' %}

{% block body %}
    <div class="container my-5">
        <h1>Inscription</h1>
        <div class="">
            {# Créer un formulaire avec la méthode form() et injecter le parametre form du RegisterAdminController #}
            {{form(form)}}
        </div>
        <p>Vous avez déjà un compte? <a href="{{ path('app_login') }}">Connectez-vous</a></p>
        
    </div>
{% endblock %}


