{% extends 'base.html.twig' %}

{% block body %}
	<div class="container my-5">
		<h1>Mon compte</h1>
		<div class="row mt-4">
			<div class="col-md-3">
				{%  include 'account/_userMenu.html.twig' %}
			</div>
			<div class="col-md-9">
				<h5>Modifier mon mot de passe</h5>
				{# Créer un formulaire avec la méthode form() et injecter le parametre form du RegisterAdminController #}
				{{form(form)}}
				</div>
			</div>
		</div>
	{% endblock %}
